.user_status {
  padding: 8px 0;
  .user_status_div {
    position: relative;
    padding: 18px;
    background-color: #0e1218;
    transition: background 0.5s ease;
    border-radius: 20px;
    .user_status_normal_div {
      h3 {
        @include font(400, 18px);
        margin: 0;
        margin-bottom: 24px;
      }
      ul:first-of-type {
        display: flex;
        flex-direction: column;
        gap: 18px;
        b {
          @include font(400, 18px);
        }
      }
      ul:last-of-type {
        position: absolute;
        top: 18px;
        right: 18px;
        display: flex;
        gap: 10px;
      }
    }
  }
}
#modal1 {
  .modal {
    .modal_desktop_menu {
      display: block;
      ul {
        gap: 0;
        justify-content: space-between;
      }
    }
  }
}
