.offers_offers_list {
  .offers_offers_list_ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .offers_offers_list_li {
      padding: 10px;
      border-radius: 20px;
      background: #0e1218;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        b {
          @include font(300, 10px);
        }
        li:nth-child(7),
        li:nth-child(8) {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 20px;
          background-color: #2e65f3;
          padding: 7px;
          color: white;
        }
      }
    }
  }
}
